body {
  padding-top: 50px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
}

#mapDiv {
	min-height: 100%; 
	max-height: 100%; 
}

img.ri {
	position: absolute;
	z-index: 10001 !important;
	max-width: 80%;
	top: 10%;
	left: 10%;
}

img.ri:empty {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  img.ri { max-width: 50%; }
}

@media screen and (orientation: landscape) {
  img.ri { max-height: 50%; }
}

.simpleGeocoder {
	margin-right: 5px;
}

.tooltip {
	opacity: 1 !important;
}

.esriSimpleSlider{
	top: 10px !important;
	left: 5px !important;
}

.esriBasemapGalleryLabelContainer{
	font-size: 80% !important;
}

#googleRoads:focus, #googleSatellite:focus, #googleHybrid:focus, #googleTerrain:focus {
	border:2px solid #3C7AFF;
}

#LocateButton {
	position: absolute;
	top: 75px;
	left: 21px;
	z-index: 50;
}

#info {
	position:absolute;
	right:5px;
	bottom:22px;
	color:#2b2b2b;
	font-weight:bold;
	background-color:#ffffff;
	z-index:52;
}

#measureResultsDiv {
	position:absolute;
	right:5px;
	bottom:42px;
	color:#2b2b2b;
	font-weight:bold;
	text-align:right;
	background-color:#ffffff;
	z-index:51;
	display:none;
}

#Results {
	color:#7a7a7a;
}

input[type=checkbox] {
	margin: 5px;
}

.dijitTreeExpando, .agsjsTOCContent {
	cursor:pointer;
}

.dijitTreeExpando {
	background-repeat: no-repeat !important;
	width: 20px !important;
	height: 20px !important;
}

.close {
	font-size: 30px !important;
	opacity: 0.8 !important;
}

.dijitPopup {
	position:absolute !important;
	z-index:10000 !important;
}

.dijitPopup.dijitMenuPopup {
	color: #fff !important;
	border: 1px solid transparent !important;
	border-radius: 4px !important;
	background-color:#677054 !important;
	border-color:#3F4533 !important;
	padding: 6px 12px !important;
	font-size: 14px !important;
}

.bootstrap-select.btn-group{
	margin-bottom:5px !important;
	margin-left:5px !important;
}

.bootstrap-select > .btn {
	width:80% !important;
}

#btnQuery, #btnPDF, #btnCoordZoom, #btnGeosearch {
	color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color:#677054;
	border-color:#3F4533;
	padding: 6px 12px;
	font-size: 14px;
	margin-left: 5px;
}

.claro .dijitButton .dijitButtonNode {
	color: #fff !important;
	border: 1px solid transparent !important;
	border-radius: 4px !important;
	background-color:#677054 !important;
	border-color:#3F4533 !important;
	padding: 2px 4px 4px !important;
	box-shadow: none !important;
	background-image: none !important;
}

#gameDistribution, #userTextBox, #longitudeInput, #latitudeInput, #txtTitle {
	margin-right: 5px;
	border-radius: 4px;
}

#btnText {
	color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color:#677054;
	border-color:#3F4533;
	font-size: 14px;
	padding: 2px 4px 4px;
}

#btnClearHighlighted, .btnClose, #btnClear, #btnClearGraphic, #btnClearText, #btnClearPlace, #clearMeasureResults, #btnCloseLandDisclaimer {
	text-align: center !important;
	vertical-align: middle !important;
	border: 1px solid #cccccc!important;
	border-radius: 4px !important;
	padding: 6.5px 12px !important;
	font-size: 14px !important;
	color: #333 !important;
	background-color: #FFF !important;
	margin-left:5px !important;
}

#btnClearText {
	margin-left:5px !important;
	margin-right:5px !important;
}

#printStatus {
	font-weight: bold;
	font-size: 16px;
}

.agsjsTOCContent {
	white-space: normal !important;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.container {
	width: 100% !important;
}

.navbar-brand {
	padding-left: 3px !important;
	padding-top: 10px !important;
	font-size: 24px;
	color: #a2a379 !important;
}

@media(max-width: 295px) {
	.navbar-brand{
		font-size: 18px;
	}
}
@media(max-width: 250px) {
	.navbar-brand{
		font-size: 12px;
	}
}

#navbar-wrapper {
	background-color: #3F4533;
	background-image: linear-gradient(#677054, #3f4533);
	moz-box-shadow: 0 3px 20px #000;
	webkit-box-shadow: 0 3px 20px #000;
	box-shadow: 0 3px 20px #000;
	font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	
}
.esriPopup.myTheme{
	z-index: 55;
}

.esriPopupWrapper {
	font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
}

.esriPopup.myTheme .sizer {
	width: 250px;
}
	
.esriPopup.myTheme .titlePane {
	font-weight: bold !important;
	background-color: #000000;
}

.esriPopup.myTheme .title {
	color: #ffffff !important;
}

.esriPopup.myTheme .titleButton {
		position: absolute !important;
		width: 16px !important;
		height: 16px !important;
		cursor: pointer !important;
}

.esriPopup.myTheme .titleButton.close {
		background: url('../images/Close.png') no-repeat scroll !important;
}

.esriPopup.myTheme .titleButton.prev{
		background: url('../images/prev.png') no-repeat scroll !important;
}

.esriPopup.myTheme .titleButton.next{
		background: url('../images/next.png') no-repeat scroll !important;
}

.esriPopup.myTheme .titleButton.maximize {
		background: url('../images/maximize.png') no-repeat scroll !important;
}

.esriPopup.myTheme .pointer.bottom {
		background: url('../images/pointer.png') no-repeat scroll !important;		
}
		
.esriPopup.myTheme .contentPane, .esriPopup.myTheme .actionsPane {
	border-color: 1px solid #3f4533;
	background-color: #ffffff;
	color:#3f4533;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after, .column:before, .column:after {
  content: "";
  display: table;
}

.wrapper:after, .column:after {
  clear: both;
}

.column {
	height: 100%;
	overflow: auto;
	*zoom:1;
}

.column .padding {
  padding: 20px;
}

#main {
	padding-right: 0px !important;
}

#sidebar {
	padding: 0px;
	padding-top: 10px;
}

#sidebar, #sidebar a, #sidebar-footer a {
	color:#a2a379;
	background-color:transparent;
	padding-left:5px;
	font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#sidebar .nav li>a:hover {
	background-color:#677054;
	color: #ffffff;
}
#sidebar .nav li>a {
	padding-top: 5px !important;
}
.nav a { 
	cursor: pointer;
}

.navbar-inverse .navbar-nav > li > a {
	color: #A2A379; padding-right: 10px; padding-left: 10px;
}

.panel-title {
	font-size: 14px;
}

#legendCollapse {
	width: 100%;
	height: 400px !important;
	overflow-y: scroll;
	overflow-x: hidden;
	color: black;
}

#legendNav1, #highlightNav1, #kmlNav1, #basemapNav1, #geosearchNav1, #measurementNav1, #drawNav1, #pdfNav1, #helpnav1, #shareNav1{
	font-size: 16px;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 90%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -90%;
    position: absolute;
    top: 0;
    width: 90%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}

.esriBasemapGalleryLabelContainer {
	display: inline !important;
}	